.AApp{
  border: 5px red solid;
  text-align: center;
}
.rRegister{
  border: 5px blue solid;
}
.aabut {
  border: 5px blue solid;
}

.Contactt{
  border: 5px greenyellow solid;
}
.lLogin{
  border: 5px greenyellow solid;
}

